---

const {title, sport} = Astro.props;

export interface Props {
    title: string;
    sport: string; 
}

---


<div class="select-group">
    <button class="button" id="button-speed">
        <span id="select-label-speed">  Please Select {title}</span>
    <div class="arrow"></div>
    </button>
    
    <div id="drop-down-speed" class="drop-down-speed hidden-speed">
        <label class="select-item" for="select-speed-25">25</label>
        <input class="speed-option" id="select-speed-25" type="radio" name="speed" value="speed-25">
        <label class="select-item" for="select-speed-30">30</label>
        <input class="speed-option" id="select-speed-30" type="radio" name="speed" value="speed-30">
        <label class="select-item" for="select-speed-35">35</label>
        <input class="speed-option" id="select-speed-35" type="radio" name="speed" value="speed-35">
        <label class="select-item" for="select-speed-40">40</label>
        <input class="speed-option" id="select-speed-40" type="radio" name="speed" value="speed-40">
        <label class="select-item" for="select-speed-45">45</label>
        <input class="speed-option" id="select-speed-45" type="radio" name="speed" value="speed-45">
        <label class="select-item" for="select-speed-50">50</label>
        <input class="speed-option" id="select-speed-50" type="radio" name="speed" value="speed-50">
        <label class="select-item" for="select-speed-55">55</label>
        <input class="speed-option" id="select-speed-55" type="radio" name="speed" value="speed-55">
        <label class="select-item" for="select-speed-60">60</label>
        <input class="speed-option" id="select-speed-60" type="radio" name="speed" value="speed-60">
        <label class="select-item" for="select-speed-65">65</label>
        <input class="speed-option" id="select-speed-65" type="radio" name="speed" value="speed-65">
    </div>
</div>

<script>
    
    const buttonSpeed = document.querySelector('#button-speed')


    const select = document.querySelector('#drop-down-speed')


    const speedOptions = document.querySelectorAll('.speed-option')
    
    
    const selectLabel = document.querySelector('#select-label-speed')

    buttonSpeed.addEventListener('click', function(event){
        event.preventDefault()
        toggleHiddenSpeed()

    })

    function toggleHiddenSpeed(){
        select.classList.toggle('hidden-speed')
    }
    
    speedOptions.forEach(function(speedOption){
        speedOption.addEventListener('click',
        function(event){
            setSelectTitleSpeed(event)            
        })
    })
    function setSelectTitleSpeed(event){
        const labelElement = document.querySelector(`label[for="${event.target.id}"]`).innerText
        console.log(labelElement)
        selectLabel.innerText = labelElement;
        toggleHiddenSpeed()
    }

</script>

<style>

    label{
        display: block;
        padding: 2rem 0 0.5rem;
    }
    .select-group{
        position: relative;
    }
    .button{
        display: flex;
        width: 100%;
        height: 3.2rem;
        background-color: white;
        background-position: 100%;
        color: black;
        padding: 1rem;
        justify-content: space-between;
        font-weight: bold;
        border-radius: .3rem;
        border: #f1f1f1;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
    .arrow{
        border: solid black;
        border-width: 0px 2px 2px 0px;
        padding: 4px;
        transform: rotate(45deg);
    }
    .speed-option{
        display: none;
    }

    .drop-down-speed{
        border: 2px solid #3e8e41;
        border-radius: .3rem;
        position: absolute;
        width: 100%;
        box-sizing: border-box;

    }
    .select-item{
        background-color: white;
        padding: 1rem;
        color: black;
    }
    .select-item:hover{
        background-color: #ecd2ff;
    }
    .hidden-speed{
        display: none;
    }

    .section{
        list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: white;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
 
    h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.button:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.button:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
	
   
      /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: absolute;
      }
      
    
</style>
